# Webstorm
.idea/

# Local files
.local/

# Dependency directories
node_modules/

# Secrets
secrets.env

# Data folder (e.g mongodb)
backend/database/*
!backend/database/.gitkeep

# Android app folder
frontend/android/
frontend/dist/
