#turn-indicator {
    position: relative;
    box-sizing: border-box;

    height: 4.8vh;
    padding: 0 3vw;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    color: rgba(255, 255, 255, 0.96);
    text-transform: uppercase;

    font-family: 'Cinzel', serif;
    font-size: 1.6vh; letter-spacing: .1em; font-weight: 600;


    transition: all 0.3s ease;
}

#turn-indicator #active-player-name {
    font-weight: bold;
    text-shadow: 0 0 1vh currentColor;
}

#active-player-name.red  { color: #dc3545; }
#active-player-name.blue { color: #007bff; }
